@font-face {
    font-family: 'Graphik LCG';
    src: url('fonts/subset-GraphikLCG-Semibold.eot');
    src: url('fonts/subset-GraphikLCG-Semibold.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-GraphikLCG-Semibold.woff2') format('woff2'),
        url('fonts/subset-GraphikLCG-Semibold.woff') format('woff'),
        url('fonts/subset-GraphikLCG-Semibold.ttf') format('truetype'),
        url('fonts/subset-GraphikLCG-Semibold.svg#GraphikLCG-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('fonts/subset-GraphikLCG-Regular.eot');
    src: url('fonts/subset-GraphikLCG-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-GraphikLCG-Regular.woff2') format('woff2'),
        url('fonts/subset-GraphikLCG-Regular.woff') format('woff'),
        url('fonts/subset-GraphikLCG-Regular.ttf') format('truetype'),
        url('fonts/subset-GraphikLCG-Regular.svg#GraphikLCG-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    vertical-align: top;
}

body {
    font-family: 'Graphik LCG', sans-serif;
}

.header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.header__container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px 51px;
    display: flex;
    align-items: center;
}

.header__navigation {    
    display: flex;
    margin-right: 358px;    
}

a {
    text-decoration: none;
}

.navigation__list, .header__buttons-list {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__logo {
    margin-right: 51px;
    width: 130px;
    height: 28px;
}

.navigation__item:not(:last-child) {
    margin-right: 50px;
}

.navigation__link {
    font-size: 15px;
    line-height: 20px;
    color: #000000;
}

.header__button-login, .header__button-promo { 
    display: flex;
    justify-content: center;
}

.header__button-login {
    margin-right: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: #FFFFFF;
}

.login_link, .promo_link {
    font-weight: 600;
    font-size: 16px;
    line-height: 45px;
    color: #000000;    
}

.login_link {
    padding: 0px 35px;
}

.header__button-promo {
    background: #FF6336;
}

.promo_link {
    padding: 1px 21px 1px 22px;
    color: #FFFFFF
}

.container {
    max-width: 1330px;
    margin: auto;    
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 129px 12px 172px 20px;
}

.about__title {
    font-weight: 600;
    font-size: 65px;
    line-height: 70px;
    color: #000000;
    width: 552px;
    padding-bottom: 51px;
}

.about__text {
    width: 471px;
    font-size: 25px;
    line-height: 35px;
    color: #000000;
    padding-bottom: 51px;
}

.about__promo-button {
    margin-right: 10px;
    background-color: #FF6336;
}

.about__buttons {
    display: flex;
    flex-direction: row;
    padding-bottom: 25px;
}

.about__promo-button, .about__demo-button {
    display: flex;
    justify-content: center;
}

.about__demo-button {
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.promo_link_about, .demo_link_about {
    font-weight: 600;
    font-size: 16px;
    line-height: 45px;   
}

.promo_link_about {
    padding: 0px 41px;
    color: #FFFFFF;
}

.demo_link_about {
    color: #000000;
    padding: 1px 29px;        
}

.about__text-promo {
    font-size: 15px;
    line-height: 25px;
    color: #000000;
}

.companies {
    background-color: #FF9C7D;;
}

.companies__container {
    padding: 108px 40px 124px 47px;
}

.companies__subtitle {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    width: 720px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 82px;
}

.companies__list {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.companies__item {
    margin-right: 103px;
}

.companies__item:last-child {
    margin-right: 0px;
}

.info__container {
    padding: 90px 20px 150px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.info__heading {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 30px;
}

.info__heading-hw_first {
    width: 493px;
}

.info__heading-hw_second {
    width: 379px;
}

.info__heading-hw_third {
    width: 397px;
}

.info__heading-hw_fourth {
    width: 348px;
}

.info__text {
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 30px;
}

.info__start-now-link {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

.info__img, .info__description {
    margin-bottom: 250px;
}

.info__img_margin-less, .info__description_margin-less {
    margin-bottom: 0px;
}

.info__text-width_first {
    width: 491px;
}

.info__text-width_second {
    width: 450px;
}

.info__text-width_third {
    width: 520px;
}

.localization {
    background-color: #FFF8E4;
}

.localize {
    padding: 120px 62px 72px 71px;
}

.subject {
    text-align: center;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 79px;
}

.localize_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.localize_item {
    width: 330px;
    margin-bottom: 75px;
}

.pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 26px;
}

.caption {
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 20px;
    text-align: center;
}

.desc {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}

.team__container {
    padding: 154px 23px 187px 20px;
}

.team__subtitle {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 75px;
}

.team__list {
    display: flex;
    flex-direction: row;
}

.team__item {
    width: 33.33%;
}

.team__icon {
    height: 201px;
    margin-bottom: 49px;
    display: flex;
    align-items: center;
}

.team__caption {
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 34px;
}

.team__desc {
    font-size: 20px;
    line-height: 30px;
    margin-right: 31px;
    margin-bottom: 25px;
    
}

.team__desc_margin-less {
    margin-right: 0px;
}

.team__link-more {
    font-size: 20px;
    line-height: 30px;
    text-decoration-line: underline;
    color: #000000;
}

.chief {
    background-color: #C9E8F2;
}

.chief__container {
    padding: 53px 20px 105px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.chief__quote {
    padding-top: 10px;
}

.chief__quote-text {
    font-size: 30px;
    line-height: 40px;
    width: 895px;
    margin-bottom: 23px;
}

.chief__author {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 7px;
}

.reviews {
    background-color: #DABC98;
}

.reviews .container {
    padding: 90px 0px 88px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.reviews_logo {
    margin-right: 67px;
}

.reviews_caption {
    font-weight: 600;
    font-size: 35px;
    line-height: 50px;
    width: 461px;
    margin-right: 124px;
}

.line {
    width: 1px;
    height: 168px;
    background-color: #000000;
    margin-right: 71px;
}

.users_rating {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.pic_reviews {
    margin-bottom: 20px;
}

.pic_stars {
    margin-bottom: 14px;
}

.q_reviews {
    margin-right: 70px;
}

.integration .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 165px 0px 162px 0px;
}

.integration_capture {
    font-weight: 600;
    font-size: 65px;
    line-height: 75px;
    width: 791px;
    text-align: center;
}

.integration_desc {
    font-size: 25px;
    line-height: 30px;
    width: 539px;
    text-align: center;
    margin-bottom: 25px;
}

.integration_pic {
    margin-bottom: 32px;
}

.integration_link {
    font-weight: 600;
    font-size: 16px;
    line-height: 60px;
    color: #FFFFFF;
    background-color: #FF6336;
    padding: 0px 20px;
}

.localization_how {
    background-color: #FF9C7D;
}

.localization_how .container {
    padding: 119px 0px 161px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.localization_capture {
    font-weight: 600;
    font-size: 65px;
    line-height: 75px;
    width: 784px;
    text-align: center;
    margin-bottom: 29px;
}

.localization_desc {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 54px;
}

.localization_link {
    font-weight: 600;
    font-size: 17px;
    line-height: 60px;
    color: #FFFFFF;
    background-color: #000000;
    padding: 0px 40px;
}

.additional {
    background-color: #EEEEEE;
    padding-bottom: 43px;
}

.add_info .container {
    padding: 92px 31px 95px 20px;
    display: flex;
}

.studies {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 140px;
}

.studies_cupture {
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 28px;
}

.studies_pic {
    margin-bottom: 31px;
}

.specialized_logo {
    width: 80px;
    height: 32px;
    margin-bottom: 24px;
}

.studies_info {
    font-size: 20px;
    line-height: 30px;
    width: 290px;
    margin-bottom: 15px;
}

.read_more{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

.all_info {
    display: flex;
    flex-direction: row;
}

.all_info_chapter {
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 21px;
}

.all_info_item {
    margin-bottom: 15px;
}

.all_info_link {
    font-size: 15px;
    line-height: 15px;
    color: black;
}

.product {
    margin-right: 142px;
}

.support {
    margin-right: 127px;
}

.company_all {
    margin-right: 124px;
}

.copyright .container {
    max-width: 1290px;
    border-top: 1px solid #000000;
    padding-top: 52px;
    padding-right: 76px;
    display: flex;
    align-items: center;
}

.logo_localise {
    margin-right: 14px;
}

.desc_localise {
    font-size: 12px;
    line-height: 15px;
    width: 301px;
    margin-right: 700px;
}

.copy {
    font-size: 12px;
    line-height: 15px;
}

.text_link {
    color: #000000;
    text-decoration-line: underline;
}


@media (max-width: 1440px) {
    .header__container {
        flex-direction: column;
        padding: 25px;
    }
    
    .header__logo {
        align-self: flex-start;
    }

    .header__navigation {
        margin-right: 0;
    }

    .header__buttons-list {
        margin-top: 20px;
        margin-right: auto;
        margin-left: auto;
    }

    .about__info {
        width: 42%;
    }

    .about__title {
        width: 100%;
        font-size: 35px;
        line-height: 40px;
        padding-bottom: 29px;
    }

    .about__text {
        width: 90%;
        font-size: 15px;
        line-height: 20px;
        padding-bottom: 29px;
    }

    .main {
        padding: 74px 12px 99px 20px;
    }

    .about__buttons {
        flex-direction: column;
    }

    .about__promo-button {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .about__text-promo {
        font-size: 10px;
    }

    .image {
        width: 57%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .image_about {
        max-width: 80%;
        height: auto;
    }

    .companies__list {
        flex-wrap: wrap;
        justify-content: center;    
    }

    .companies__item {
        margin-bottom: 15px;
    }

    .companies__item{
        margin-right: 50px;    
    }

    .companies__subtitle {
        width: 54%;
        font-size: 30px;
        margin-bottom: 20px;
        line-height: 40px;
    }

    .companies__container {
        padding: 50px 20px;
    }

    .info__container {
        padding: 20px 10px;
    }

    .info__description, .info__img {
        margin-bottom: 30px;
        width: 45%;
    }

    .info__heading  {
        width: 100%;
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 10px;
    }

    .info__text {
        width: 100%;
        font-size: 15px;
        line-height: 20px;
    }

    .info__start-now-link {
        font-size: 15px;
        line-height: 20px;
    }

    .info__img_sizing {
        width: 100%;
        height: auto;
    }

    .localize {
        padding: 20px 10px 0px 10px;
    }

    .subject {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 30px;
    }

    .pic {
        margin-bottom: 10px;

    }

    .caption {
        font-size: 15px;
        line-height: 15px;
        margin-bottom: 10px;
    }

    .desc {
        font-size: 15px;
        line-height: 25px;
    }

    .localize_item {
        width: 33%;
        margin-bottom: 25px;
    }

    .team__container {
        padding: 30px 20px;
    }

    .team__subtitle {
        font-size: 30px;
        line-height: 35px;
        text-align: center;
        margin-bottom: 30px;
    }

    .team__icon {
        height: auto;
        margin-bottom: 20px;
    }

    .icon_managers, .icon_developers, .icon_translators {
        height: 100px;
    }

    .team__caption {
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 10px;
    }

    .team__desc {
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 15px;
    }

    .chief__container {
        padding: 20px
    }

    .chief__quote-text {
        font-size: 20px;
        line-height: 25px;
        width: 100%;
        margin-bottom: 13px;
    }

    .revolut_chief {
        width: 200px;
        height: auto;
    }
}

@media (max-width: 768px) {

    body {
        min-width: 320px;
    }

    .header__container {
        flex-direction: column;
        align-items: center;
    }

    .header__logo {
        margin-bottom: 20px;
    }

    .navigation__list {
        flex-wrap: wrap;
        justify-content: center;
    }

    .header__navigation {
        margin-left: auto;
    }

    .header__logo  {
        margin-right: 0px;
    }

    .navigation__item {
        margin-bottom: 10px;
    }

    .navigation__item:not(:last-child) {
        margin-right: 30px;
    }

    .header__buttons-list {
        flex-direction: column;
        width: 100%;
    }

    .header__button-login {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .header__button-promo {
        width: 100%;
    }

    .header__navigation {
        margin-left: 0;

    }

    .about__title {
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 0px;
        text-align: center;
    } 
    
    .about__info {
        width: 100%;
        order: 1;
        text-align: center;
    }

    .about__text {
        width: 100%;
    }

    .main {
        flex-direction: column;
        align-items: center;
        padding: 20px 12px 20px 12px;
    }

    .image {
        margin-bottom: 10px;
    }

    .companies__container {
        padding: 20px 10px 10px 10px;
    }

    .companies__subtitle {
        width: 100%;
        font-size: 20px;
        line-height: 25px;
    }

    .companies__list {
        flex-wrap: wrap;
    }

    .companies__item {
        margin-right: 20px;    
        text-align: center;
    }

    .companies__logo {
        width: 80%;
        height: auto;
    }

    .info__description {
        width: 100%;
    }

    .info__img {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    .info__heading {
        text-align: center;
    }

    .info__description_order-second {
        order: 1;
    }

    .info__img_order-second {
        order: 2;
    }

    .info__description_order-third {
        order: 3;
    }

    .info__img_order-third {
        order: 4;
    }

    .info__description_order-fourth {
        order: 5;
    }

    .info__img_order-fourth {
        order: 6;
    }

    .pic {
        width: 40%;
    }

    .localize_item {
        width: 46%;
        margin-bottom: 25px;
    }

    .subject {
        font-size: 25px;
        line-height: 25px;
        margin-bottom: 15px;
    }

    .desc {
        line-height: 18px;
    }

    .team__subtitle {
        font-size: 25px;
        line-height: 30px;
    }

    .team__item {
        width: auto;
        margin-bottom: 25px;
    }

    .team__list {
        flex-wrap: wrap;
    }

    .chief__container {
        flex-wrap: wrap;
    }

    .chief__quote {
        padding-top: 0;
    }

    .chief__quote-text {
        font-size: 15px;
        line-height: 20px;
        text-align: center;
    }

    .chief__author {
        font-size: 10px;
        line-height: 15px;
        margin-bottom: 7px;
    }

    .chief__revolut-logo {
        width: 80px;
        height: auto;
    }

    .revolut_chief {
        width: 100px;
        height: auto;
    }
}